{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <title>CRUD 16-dars vazifa</title>
  </head>
  <style>
    .qator:hover{ 
      background-color: red;}
      #qoshish{
        position: absolute;
        top: 5px;
        right: 15%;
      }
  </style>
  <body>
        <div class="container">
        <h1> ToDoList</h1>
        </div>
        {% block content %}



        {% endblock content %}
        
    <script src="{% static 'blog/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.js' %}"></script></body>
</html>